//Here you add the page structure
body, p, h1, h2, h3, h4, h5, h6, a, span{
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}
body{
  height: inherit !important;
}
.ui.brown.button{
  font-weight: 100;
  font-size: 1em;
  color: $white;
  background-color: $orange;
}
.hidden.menu {
  display: none;
}
.ui.menu{
  .toc.item{
    display: none;
  }
  .item.logo2{
    padding: 0;
    border: 0 !important;
    box-shadow: none;
    &:before{
      content: none;
    }
    img{
      width: 110px;
      border: none !important;
    }
  }
  .right.item,.right.menu{
    .item{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  } 
}


h3 {
    font-size: 1.1em;
    margin: 2rem 0 1rem;
    font-weight: 400;
    color: $brown;
  }
  h4{
    font-size: 2.6em;
    font-weight: 400;
    margin:0 0 1em;
    color: $light_orange;
    .ui.divider{
      width: 40px;
      margin:1rem auto;
      // border-top: 2px solid rgba(227,80,184,0.5) !important;
      // border-bottom: 2px solid rgba(255, 255, 255, 0.1) !important;
    }
  }

.masthead {
  &.segment {
    height: 100vh;
    // background: linear-gradient(rgba(254,254,254,.5), rgba(254,254,254,.8)), url("../images/desert.jpg") bottom !important;
    background-size: cover !important;
    min-height: 600px;
    padding: 0;
  }
  #supersized{
    // opacity: 0.5;
    li{
      a{
        &:after {
            content: '\A';
            position: absolute;
            width: 100%; height:100%;
            top:0; left:0;
            background:rgba(0,0,0,0.6);
          }
        img{
        }
      }
    }
  }
  .ui.menu {
    border-bottom: none !important;
    font-size: 1.1rem;
    .item.logo img {
      margin-right: 1em;
      width: 200px;
    }
    .right.item .item:hover{
      box-shadow: none;
      border-color: $orange;
      color: $orange !important;
    }
    .right.item{
      margin-top: 2.1rem;
      align-self: flex-start;
      .item{
        color: #ffffff;
      }
    }
    margin-left: 0.5em;
  }
  h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 2.4em;
    color: $orange;
    font-weight: 100;
  }
  h2 {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 100;
    color: $white;
    padding: 0 10%;
  }
  strong{
    color: $orange;
  }
  .button{
    margin: 1rem 0;
  }
  .image{
    padding-top: 1rem;
  }
}

.ui.vertical.stripe {
  background: $white;
  padding: 0em 0em 5em;
  &.about_section{
    .header_text{
      padding: 3rem 0;
    }
    .text.container{
      padding-top: 0;
    }
  }
  &.features_section{
    .header_text{
      background-image: url("../images/light.jpg");
      h3{
        color: $white;
      }
    }
    .features_column{
      padding-top: 5rem;
      .column{
       padding-left: 4rem; 
       padding-right: 4rem; 
      }
      h3{
        color: $brown;
        margin-top: 0.5rem;
      }
      p{
        font-size: 0.85em;
      }
      .ui.image{
        width: 100px;
        margin: 0 auto;
      }
    }
  }
  &.partners_section{
    .header_text{
      background-image: url("../images/bollard.jpg");
      h3{
        color: $white;
      }
    }
    .bx-wrapper{
      position: absolute;
      top: 37%;
      .testimonial{
        height: 100%;
        .ui.container{
          // background: radial-gradient(rgba(21, 21, 21, 0.9), rgba(0, 0, 0, 0.3));
          background-color: rgba(28,28,28,.5);
          // border-radius: 10px;
          padding-bottom: 1rem;
          padding-top: 1rem;
          margin-top: 12rem;
          width: 34rem;
          color: $black;
        }
        h3{
          margin: 1rem;
          font-style: italic;
          font-weight: 600;
          color: #ffffff;
          font-size: 1.2rem;
        }
        img{
          height: 85px;
        }
      }
    }
    canvas{
      width: inherit;
      height:calc(100vh - 3rem);
      min-height: 7rem;
      padding:0;
      margin:0;
      overflow: hidden;
    }
    h2{
      font-size: 1em;
      font-weight: 100;
      strong{
        color: $brown;
      }
    }
  }

  &.contact_section{
    .header_text{
      background-image: url("../images/typewriter.jpg");
      h3{
        color: $white;
      }
    }
    .contact_form{
     text-align: left;
    }
  }

  .text.container{
    text-align: center;
    padding-top: 5rem;
  }
  .floated.image {
    clear: both;
  }
  
  p{
    font-size: 1em;
    line-height: 1.5em;
  }
  .horizontal.divider {
    margin: 3em 0em;
  }
}
.header_text{
  text-align: center;
  width: 100%;
  // height: 20rem;
  background-repeat: no-repeat;
  background-size: 100%;
  .text_color{
    width: 100%;
    height: 100%;
    padding: 6rem 1.4rem;
    border-radius: 2px;
    margin: 0 auto;
  }
}

.footer.segment {
  padding: 2em 0em;
  font-size: 0.8rem;
  // background: #ffffff !important;
}


@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu {
    .item, .menu {
      display: none;
    }
    .toc.item {
      display: block;
    }
  }
  .masthead {
    &.segment {
      min-height: 350px;
    }
    h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }
}