@media only screen and (max-width: 1500px){
 

}//max width 1500

@media only screen and (max-width: 1280px){
	  

}//Max width 1280


@media only screen and (max-width: 1100px){
	 
 
}//Max width 1100


@media only screen and (max-width: 960px){
	 


}//max width 960

@media only screen and (max-width: 768px){

}//max width 768


@media only screen and (max-width: 500px){
	body{
		overflow: auto !important;
	}
	h4{
		font-size: 2rem;
	}
	.mobile_only{
		display: initial !important;
	}
	.ui.menu{
		.toc.item{
			i{
				color: $orange;
			}
		}
	}
	.masthead{
		h1.ui.header{
			margin-top: 0;
		}
		.ui.text.container{
			transform: translateY(-50%);
		    position: absolute;
		    top: 50%;
		}
		.ui.brown.button.smoothScroll{
			display: none;
		}
		h2{

		    font-size: 1em;
		    margin: 3rem 0; 
		}
	}
	.header_text{
		.text_color{
			padding: 2rem 0;
		}
		h3{
			color: #000000 !important;
		}
	}
	.ui.vertical.stripe{
		padding: 0 0 2rem 0;
		&.features_section{
			.features_column{
				padding-top: 0rem;
			}
		}
		&.partners_section{
			.map_text{
				padding-top: 2rem !important;
			}
		}
		.text.container{
			padding-top: 2rem;
		}
	}
}//max 500px

@media only screen and (max-width: 330px){
	
}//max 330px


/* Print Styles */
/* ==================================================== */
 
@media print {

	* {
		background: transparent !important; 
		color: black !important; 
		text-shadow: none !important; 
		filter:none !important; 
		-ms-filter: none !important; 
	} 
	
	a, 
	a:visited { 
		text-decoration: underline; 
	}
	
	a[href]:after { 
		content: " (" attr(href) ")"; 
	}
	
	abbr[title]:after { 
		content: " (" attr(title) ")"; 
	}
	
	.ir a:after, 
	a[href^="javascript:"]:after, 
	a[href^="#"]:after { 
		content: ""; 
	} 
	
	pre, 
	blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	}
	
	thead { 
		display: table-header-group; 
	}
	
	tr, 
	img { 
		page-break-inside: avoid; 
	}
	
	img { 
		max-width: 100% !important; 
	}
	
	@page { 
		margin: 0.5cm; 
	}
	
	p, 
	h2, 
	h3 { 
		orphans: 3; 
		widows: 3; 
	}
	
	h2, 
	h3 { 
		page-break-after: avoid; 
	}
	
}